.modalWrapper {
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  height: 100lvh;
  overflow: auto;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 0.2s;
  animation-name: wrapperAnime;
  cursor: pointer;
}

.modalWrapperBurger {
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100dvh;
}

@keyframes wrapperAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalBox {
  position: relative;
  width: fit-content;
  background-color: black;
  height: 100svh;
  padding: 5px;
  animation-duration: 0.3s;
  animation-name: boxAnime;
  cursor: auto;
}

@keyframes boxAnime {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modalBoxBurger {
  position: relative;
  background-color: white;
  width: 400px;
  height: 100%;
  padding: 5px;
  animation-duration: 0.3s;
  animation-name: burgerAnime;
  cursor: auto;
}

@media screen and (max-width: 768px) {
  .modalBoxBurger {
    width: 100%;
  }
}

@keyframes burgerAnime {
  from {
    width: 0px;
  }
  to {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  @keyframes burgerAnime {
    from {
      width: 0px;
    }
    to {
      width: 100%;
    }
  }
}
