.modalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  display: flex;
  animation-duration: 0.2s;
  animation-name: wrapperAnime;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100dvh;
}

@keyframes wrapperAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalBox {
  position: relative;
  background-color: white;
  width: 400px;
  height: 100%;
  padding: 5px;
  animation-duration: 0.3s;
  animation-name: boxAnime;
  cursor: auto;
}

@media screen and (max-width: 768px) {
  .modalBox {
    width: 100%;
  }
}

@keyframes boxAnime {
  from {
    width: 0px;
  }
  to {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  @keyframes boxAnime {
    from {
      width: 0px;
    }
    to {
      width: 100%;
    }
  }
}
