.slider {
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  position: relative;
  top: 20px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 18px;
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  user-select: none;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 11;
}

.navigationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}
.navigationButton:disabled {
  color: transparent;
  cursor: default;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .swiperSlide {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .swiperSlide:hover .string {
    color: var(--primary-color);
  }
}

.swiperSlide img {
  display: block;
  width: 100%;
}

.string {
  position: absolute;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-color);
  left: 50%;
  top: 3%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  transition: all 0.1s linear;
}
@media screen and (max-width: 768px) {
  .string {
    font-size: 22px;
  }
}
