:root {
  --primary-color: rgb(44, 62, 133);
  --secondary-color: rgb(23, 127, 164);
  --spinner-color: rgba(44, 62, 133, 0.5);
  --bg-color: rgb(230, 230, 230);
  --bg-color-card: rgb(235, 235, 235);
  --shadow-color: rgb(215, 215, 215);
  --text-color: rgb(50, 50, 50);
  --text-color-disabled: rgb(100, 100, 100);
  --text-color-secondary: rgb(255, 255, 255);
}
