.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  max-width: 1600px;
  width: 100%;
  min-height: calc(100dvh - 100px - 50px);
  padding: 10px;
}
