.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding-right: 20px;
  background-color: var(--bg-color-secondary);
  padding: 20px;
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoImg {
  width: 270px;
  height: 230px;
  transform: rotate(-15deg) translateY(5px);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logoImg {
    width: 230px;
    height: 190px;
  }
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color-secondary);
  cursor: pointer;
}
