.selected {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 16px;
  }
}