.selected {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-color);
  font-style: italic;
}